* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    padding-inline: 8%;
}
.profileimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profileimg img {
    width: 100%;
    height: auto;
}

header {
    display: flex;
    max-width: 100%;
    max-height: 80px;
}

.logo .fa-solid {
    font-size: 23px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.navigation
{
    flex: 1;
    padding-left: 57px;
}
.navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.navigation ul li{
    list-style: none;
    padding: 10px 22px;
    font-family: Arial, Helvetica, sans-serif;

}

.navigation ul li a{
    text-decoration: none;
    color: rgb(95, 105, 125);
}

.navigation ul li a:hover{
    color: rgb(20, 110, 190);
}

.iconsSection {
    background-color:#9c36b5;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 40px;
}

.fontSection{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

.iconsSection p {
    color:#fff;
    padding-left: 40px;
}

.iconsSection span {
    text-decoration:underline 1px dotted #fff;
}

.iconsSection .span1 {
    font-weight: bolder;
    font-size: 16px;
}

.iconsSection p .fa-sparkles{
    font-size: 18px;
}

.fontSection p {
    width: 580px;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
}

.fontSection span {
    color: #f59f00;
}

h1 {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    line-height: 24px;
    line-height: 40px;
    color: rgb(95, 105, 125);
    width: 600px;
    font-family: 'Jost', 'Roboto',sans-serif;
    margin-bottom: 40px;
}


.kitsSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
}

.kitHolder1{
    background-image: url(../images/hero-icon-bg.svg);
    background-position: right;
    background-size: auto;
    height: 450px;
    width: 120px;
}

.kitHolder {
    height: 400px;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kitHolder img {
    border-radius: 10px;
    width: 80%;
    height: auto;
}

.startbtn {
    margin-top: 50px;
}
button {
    padding: 20px 40px;
    border: 2px solid #183153;
    border-radius: 10px;
    font-weight: 800;
    font-size: 15px;
    margin-inline: 20px;
    color: #183153;
    background-color: #fff;
    transition: 0.15s;
    cursor: pointer;
}

.startbtn .btnn {
    background-color: #f59f00;
}

button:hover, .btnn:hover{
    background-color: #bac8ff;
}
